/*-----------------------------------------------------------
    Template Name:
    Description: This is html5 bootstrap 4 responsive E-commerce template
    Author: itechtheme
    Version: 1.0

------------------------------------------------------------*
    CSS INDEX
    ====================
    01) Theme Default CSS (body, link home 2, section etc)
    02) Header Style
        2.1) user section
        2.2) bottom header
        2.3) shopping cart
        2.4) category menu
        2.5) responsive menu
    03) Home style
        3.1) Slider section
        3.2) service section
        3.3) all products
        3.4) masonry banner
        3.5) banner section
        3.6) post section
        3.7) testimonial
        3.8) letest news
        3.9) brand logo
    04) Home 2 style
    05) Home 3 style
    06) Home 4 style
    07) Home 5 style
    08) Home 6 style
    09) Shop pages
    10) Shop page left
        10.1) sidebar left
        10.2) radio buttons
        10.3) sidebar category
        10.4) price range
        10.5) sidebar brands
    11) Shop page list layout left side
    12) Shop page list
    13) Product Details page
        13.1) comment area
    14) Chockout page
    15) Cart page
        16.1) responsive view
    16) blog grid page
    17) blog details page
    18) order history page
    29) Login page
    20) Contact page
        20.1) contact us 2
    21) footer section

-----------------------------------------------------------*/


/*==================== (01). Start Theme Default CSS ====================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

*,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}

ul {
    list-style: none;
}

div,
input,
button,
img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a:hover,
a:focus,
a:active,
button:focus,
input:focus,
select:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 10px;
    margin-bottom: 10px;
}



/*==================== (01). End Theme Default CSS ====================*/


/*==================== (02). Start Header Style Css ====================*/


/*------------------- Start top user section -------------------*/

.top-user {
    background: #222222;
    color: #DFB859;
}

.top-welcome {
    line-height: 55px;
}

.top-user ul>li {
    margin-right: 10px;
    padding-left: 25px;
}

.top-user ul>li:last-child {
    margin-right: 0;
}

.top-user ul>li::after {
    height: 12px;
    width: 12px;
    top: 50%;
    background: #DFB859;
    transform: translateY(-50%);
    border-radius: 50%;
}

.top-user ul>li a {
    color: #DFB859;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0;
    display: block;
}

.top-user .user-account ul {
    position: absolute;
    white-space: nowrap;
    right: 0;
    top: 150%;
    background: #222222;
    min-width: 150px;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
    transition: all 0.3s ease;
    transform: translate(0);
    border-top: 3px solid #DFB859;
}

.user-account ul li {
    margin-right: 0;
    padding: 0;
}

.user-account ul li a {
    padding: 5px 25px;
    display: block;
    transition: 0;
}

.user-account ul li::after {
    display: none;
}

.user-account ul li:hover a {
    background: #DFB859;
    color: #fff;
}

.user-account:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
}



/*------------------- start bottom header -------------------*/

.search-group input {
    height: 50px;
    position: relative;
}

.search-group input {
    border-radius: 50px !important;
    padding-right: 75px;
}

.search-group button {
    font-size: 18px;
    position: absolute;
    right: 6px;
    top: 50%;
    border-radius: 20px !important;
    height: 40px;
    width: 60px;
    transform: translateY(-50%);
}

.search-group button:hover {
    color: #fff;
    background: #DFB859;
    border-color: transparent !important;
}

.search-group input,
.search-group button,
.search-group input:focus,
.search-group button:active {
    border-color: #ced4da !important;
}

.search-group input:focus,
.search-group button:focus,
.search-group button:active {
    box-shadow: none !important;
    background: transparent !important;
    outline: none !important;
}

.search-group input:focus,
.search-group button:focus,
.search-group button:active {
    color: #6c757d !important;
}



/*------------------- start shopping cart -------------------*/

.bottom-header {
    padding: 30px 0;
}

.shopping-list {
    transform: translateY(12px);
    ;
}

.shopping-list li {
    margin-right: 20px;
}

.shopping-list li:last-child {
    margin-right: 0;
}

.shopping-list li a {
    color: #222;
    font-weight: 600;
}

.shopping-list li span {
    background: #DFB859;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.cart-list {
    position: relative;
}

.cart-wrapper {
    position: absolute;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    top: 160%;
    right: 50%;
    transform: translateX(26%);
    transition: all 0.5s ease;
    z-index: 99999999999999;
    background: #fff;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.cart-item-img {
    width: 25%;
}

.cart-item-content {
    width: 75%;
    padding: 0 6px;
}

.cart-item {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-content a {
    color: #222;
}

.cart-item-content a,
.cart-item-content p {
    font-size: 14px;
}

.cart-delete {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 25px;
    font-size: 18px;
    color: #DFB859;
}

.cart-wrapper a.checkout-btn {
    display: block;
    text-align: center;
    padding: 5px 15px;
    background: #DFB859;
    color: #fff;
}



/*------------------- Start category menu -------------------*/

.categories-menu {
    background: #DFB859;
}

.category-group,
.category-title {
    position: relative;
}

.category-title {
    background: #222;
    color: #fff;
    margin: 0;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    padding: 15px;
}

.category,
.category-title::after {
    position: absolute;
}

.category-title::after {
    content: '\f107';
    font-family: fontawesome;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.category {
    padding-left: 15px;
    padding-right: 15px;
    background: #DFB859;
    /*border-top: 1px solid #d7ad49;*/
    width: 100%;
    top: 250%;
    left: 0;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 9999999;
}

.category-group:hover>.category {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

.category li h6 {
    margin: 0;
    padding: 10px 0;
    font-weight: 600;
}

.category li h6 a {
    color: #fff;
}

.sub-category li a {
    color: #030303;
    display: block;
    padding: 5px 0;
    font-weight: 600;
}

.sub-category li:hover a {
    color: #fff;
}

.catrgory-menu li {
    display: inline-block;
    margin-right: 13px;
}

.catrgory-menu li:last-child {
    margin-right: 0;
}

.catrgory-menu li a {
    color: #ffffff;
    font-size: 15px;
    padding: 14px 0;
    display: block;
    text-transform: capitalize;
}

.catrgory-menu .navbar {
    padding: 0;
}

#navigation {
    justify-content: flex-end;
}

#navigation li {
    margin-right: 20px;
    position: relative;
}

#navigation li:last-child {
    margin-right: 0;
}

#navigation li a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 0;
    display: block;
}

#navigation .sub-menu {
    position: absolute;
    top: 200%;
    z-index: 999999;
    background: #DFB859;
    min-width: 150px;
    white-space: nowrap;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}

#navigation li:last-child .sub-menu {
    left: auto;
    right: 0;
}

#navigation li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

#navigation .sub-menu li {
    margin-right: 0;
}

#navigation .sub-menu li a {
    padding: 8px 15px;
    display: block;
    font-weight: 300;
}

#navigation .sub-menu li:last-child a {
    border-bottom: none;
}

.icon-up {
    visibility: hidden;
    opacity: 0;
    margin-left: -12px;
}

#navigation li:hover .icon-down {
    visibility: hidden;
    opacity: 0;
}

#navigation li:hover .icon-up {
    visibility: visible;
    opacity: 1;
}

.responsive-menu-wrap {
    display: none;
}



/*------------------------- Start responsive menu -------------------------*/

.slicknav_menu {
    background: transparent;
    padding: 7px 0;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
    line-height: 0;
    float: none;
    color: #fff;
    font-weight: 700;
    text-shadow: none;
}

.slicknav_menu .slicknav_icon {
    float: none;
    width: 0;
    height: 0;
    margin: 0;
}

.slicknav_btn {
    margin: 10px 0 auto;
    text-shadow: none;
    background-color: #212121;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 5px 10px;
    margin: 0;
}

.slicknav_nav .icon-down {
    display: none;
}

.slicknav_nav .slicknav_arrow {
    margin: 0;
    float: right;
}

.slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    font-size: .875em;
    position: absolute;
    top: 100%;
    z-index: 99999999;
    background: #DFB859;
    width: 100%;
    left: -15px;
}

.slicknav_nav .slicknav_row {
    display: block;
    border-bottom: 1px solid #DBAE3F;
}

.slicknav_nav .slicknav_row:last-child {
    border-bottom: none;
}

.slicknav_nav .slicknav_row:hover {
    background: transparent;
    border-radius: 0;
}

.slicknav_nav .slicknav_row:hover a {
    background: transparent;
    color: #fff;
}

.slicknav_parent .sub-menu li a:hover {
    background: transparent;
}



/*==================== (02). End Header Style Css ====================*/


/*==================== (03). Start Home Style Css ====================*/


/*------------------- Start Slider section -------------------*/

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 700px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.swiper-slide::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.banner-slider-1 {
    background: url('images/girl-big-1.jpg') no-repeat center center / cover;
}

.banner-slider-2 {
    background: url('images/girl-big-2.jpg') no-repeat center center / cover;
}

.banner-slider-3 {
    background: url('images/girl-big-1.jpg') no-repeat center center / cover;
}

.banner-slider-4 {
    background: url('images/girl-big-2.jpg') no-repeat center center / cover;
}

.slider-info h2 {
    font-size: 45px;
    font-weight: 600;
}

a.slider-btn {
    color: #fff;
    background: #DFB859;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.1s ease;
    display: inline-block;
}

a.slider-btn:hover {
    outline: 1px solid #fff;
    outline-offset: -5px;
}

.slider-info p {
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
}

.swiper-button-prev,
.swiper-button-next {
    background-image: url();
    background: #DFB859;
    width: 35px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev:active,
.swiper-button-next:active {
    outline: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-family: fontawesome;
    font-size: 45px;
    color: #ffffff;
}

.swiper-button-prev::after {
    content: '\f104';
}

.swiper-button-next::after {
    content: '\f105';
}




/*-------------------- Start service section --------------------*/

.service-section {
    margin: 100px 0;
}

.service-box {
    padding: 15px 12px;
    outline: 1px solid #DFB859;
    text-align: center;
}

.service-box span {
    font-size: 40px;
    color: #DFB859;
}

.service-box h4 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
}




/*-------------------- Start all products --------------------*/

.all-product {
    margin: 100px 0;
}

.item .price-info {
    padding: 15px;
    border: 1px solid #F1F1F3;
    border-top: none;
}

.item .price-info a {
    color: #222;
}

.item .price-info ul li {
    margin-right: 10px;
    color: #f1c40f;
    font-size: 15px;
}

.item .price-info ul li:last-child {
    margin-right: 0;
}

.add-product ul li a {
    background: #DFB859;
    outline: 1px solid #DFB859;
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    color: #fff;
    display: block;
    transition: all 0.3s;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.add-product ul li a:hover {
    outline-offset: -4px;
    outline: 1px solid #fff;
}

.single-item {
    position: relative;
    overflow: hidden;
}

.add-product,
.discount-tag,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.shop-products .grid-list .single-item .discount-tag {
    position: absolute;
}

.add-product,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    transform: translateY(-50%);
}

.add-product {
    top: 50%;
    right: -100%;
    transition: all 0.4s ease;
}

.item:hover .add-product {
    display: block;
    right: 15px;
}

.discount-tag,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.shop-products .grid-list .single-item .discount-tag {
    text-align: center;
    color: #fff;
}

.discount-tag,
.shop-products .grid-list .single-item .discount-tag {
    background: #DFB859;
    z-index: 99999;
}

.discount-tag {
    top: 10px;
    left: 10px;
    height: 55px;
    width: 55px;
    line-height: 55px;
    border-radius: 50%;
    font-size: 14px;
}

.shop-products .grid-list .single-item .discount-tag {
    top: 15px;
    left: 15px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 12px;
}

.shop-products .grid-list .single-item .discount-tag,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    height: 50px;
}

.discount-tag span>span {
    font-size: 12px;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 35px;
    top: 50%;
    border-radius: 0;
    width: 25px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    display: block;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #DFB859;
}




/*-------------------- Start masonry banner --------------------*/

.masonry-banner {
    margin: 100px 0;
}

.banner-item {
    position: relative;
    transition: all 0.8s ease;
}

.banner-item::after,
.banner-item::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 0;
    top: 0;
    opacity: 0;
    outline: 2px solid #fff;
    transition: all 0.6s ease;
}

.banner-item::after {
    left: 0;
    top: 0;
}

.banner-item::before {
    right: 0;
    bottom: 0;
}

.banner-item:hover::after,
.banner-item:hover::before {
    height: 100%;
    width: 100%;
    opacity: 1;
    outline-offset: -15px;
}



/*-------------------- Star banner section --------------------*/

.banner-img {
    margin: 100px 0;
}



/*-------------------- Star post section --------------------*/

.post-product {
    margin: 100px 0;
}

.post-item {
    border-bottom: 1px solid #ECECEE;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.banner-padding-bottom-10 {
    padding-bottom: 10px;
}

.banner-padding-top-10 {
    padding-top: 10px;
}

.post-product ul li.post-item:last-child {
    border-bottom: none;
}

.post-product ul li .post-info {
    padding-left: 15px;
}

.post-product ul li .post-info a {
    color: #222;
}

.post-product ul li .post-info ul li {
    margin-right: 10px;
    font-size: 14px;
    color: #f1c40f;
}



/*-------------------- Start testimonial --------------------*/

.testimonial {
    margin: 100px 0;
    background: url(images/mann-bg1.png) no-repeat center center / cover;
    padding: 100px 0;
    position: relative;
height: !important;
}

.testimonial::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0, 0.7);
}

.testimonial-item {
    border: 1px solid #DFB859;
    padding: 50px;
}

.testimonial-item img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

.testi-img {
    width: 60%;
}

.testimonial-info {
    padding-left: 15px;
    color: #fff;
}



/*-------------------- Start letest news --------------------*/

.letest-news {
    margin: 100px 0;
}

.single-news {
    border: 1px solid #ECECEE;
}

.news-img {
    position: relative;
    overflow: hidden;
}

.news-info {
    padding: 10px 15px;
}

.new-post,
.news-img .date,
.news-info ul li a::after {
    position: absolute;
    color: #fff;
    text-align: center;
}

.news-img .date {
    background: #e2ae2f;
    bottom: 0;
    width: 50px;
    height: 70px;
    padding: 10px 5px;
    left: 0;
    line-height: 25px;
}

.news-img .date li {
    border-bottom: 1px solid #ECECEE;
    font-size: 13px;
    font-weight: 600;
}

.news-img .date li:last-child {
    border-bottom: none;
}

.new-post {
    top: 10px;
    right: 0px;
    height: 32px;
    width: 60px;
    line-height: 32px;
    background: #222;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50px 0 0 50px;
}

.news-info h6 a,
.news-info ul li a {
    text-transform: uppercase;
    font-weight: 500;
}

.news-info h6 a {
    color: #222;
    font-size: 14px;
    line-height: 25px;
}

.news-info ul li a {
    color: #939393;
    font-size: 12px;
    margin-right: 20px;
    position: relative;
}

.news-info ul li a::after {
    content: '';
    height: 13px;
    width: 1px;
    background: #939393;
    right: -10px;
    top: 4px;
}

.news-info ul li:last-child a::after {
    display: none;
}

.news-info ul li a .fa {
    padding-right: 5px;
}

.news-info p {
    font-weight: 300;
    font-size: 14px;
}

.news-info p a {
    color: #e2ae2f;
    font-weight: 700;
    font-size: 15px;
}



/*-------------------- Start brand logo --------------------*/

.business-logo {
    margin: 100px 0;
}

.brand-logo {
    border: 1px solid #ECECEE;
}



/*==================== (03). End Home Style Css ====================*/


/*==================== (04). Start Home 2 Style Css ====================*/


/*.books-top-user {
    background: transparent;
    border-bottom: 1px solid #eaeaea;
}

.books-top-user,
.books-top-user ul li a {
    color: #77B748;
}
.books-top-user .user-account ul{
    border-top-color: #77B748;
}
.books-top-user .user-account ul li:hover a{
    background: #77B748;
}

.category.books-category,
.books-top-user ul>li::after,
.books-banner-section a.slider-btn,
.books-bottom-header .shopping-list li span,
.books-banner-section .swiper-button-prev,
.books-banner-section .swiper-button-next,
.search-group.books-search-group button:hover,
.books-testimonial .owl-theme .owl-nav [class*=owl-]:hover,
.books-all-product .owl-theme .owl-nav [class*=owl-]:hover,
.books-top-footer.top-footer .subscrib-btn:hover,
.books-letest-news .news-img .date,
a.checkout-btn.books-checkout-btn {
    background: #71AE44;
}
.cart-delete.books-cart-delete{
    color: #71AE44;
}
.categories-menu.books-categories-menu,
.categories-menu.books-categories-menu #navigation .sub-menu {
    background: #77B748;
}

.categories-menu.books-categories-menu #navigation .sub-menu {
    border-top: 1px solid #77B748;
}
.categories-menu.books-categories-menu #navigation .sub-menu li a {
    border-bottom: 1px solid #80c54d;
}

.books-service-section .service-box {
    outline: 1px solid #71AE44;
}

.books-service-section .service-box span {
    color: #71AE44;
}

.books-all-product .discount-tag {
    background: #71AE44;
}

.books-all-product .single-item {
    outline: 2px solid #fff;
    outline-offset: -25px;
}

.books-letest-news .news-info p a {
    color: #71AE44;
}

.books-top-footer.top-footer {
    background: #71AE44;
}

.books-top-footer.top-footer .subscrib-btn {
    color: #71AE44;
}

.books-top-footer.top-footer .subscrib-btn:hover {
    color: #fff;
}

.books-testimonial.testimonial {
    background: url(images/books-banner.jpg) no-repeat center center / cover;
}

.books-testimonial.testimonial::after {
    background: rgb(119, 183, 72, 0.9);
}

.books-all-product .add-product ul li a {
    background: #71AE44;
    outline: 1px solid #71AE44;
}

.books-all-product .add-product ul li a:hover {
    outline: 1px solid #fff;
}*/

.books-testimonial.testimonial {
    background: url(images/books-banner.jpg) no-repeat center center / cover;
}

.books-banner-section .banner-slider-1 {
    background: url('images/slider/books/01.jpg') no-repeat center center / cover;
}

.books-banner-section .banner-slider-2 {
    background: url('images/slider/books/02.jpg') no-repeat center center / cover;
}

.books-banner-section .banner-slider-3 {
    background: url('images/slider/books/03.jpg') no-repeat center center / cover;
}

.books-banner-section .banner-slider-4 {
    background: url('images/slider/books/04.jpg') no-repeat center center / cover;
}

.books-banner-section .swiper-slide::after {
    background: rgba(0, 0, 0, 0.8);
}

.books-banner-section .banner-slider-1.swiper-slide::after {
    background: rgba(0, 0, 0, 0.5);
}



/*==================== (04). End Home 2 Style Css ====================*/


/*==================== (05). Start Home 3 Style Css ====================*/


/*.gym-top-user {
    background: transparent;
    border-bottom: 1px solid #eaeaea;
}

.gym-top-user,
.gym-top-user ul li a {
    color: #F36347;
}
.gym-top-user .user-account ul{
    border-top-color: #F36347;
}
.gym-top-user .user-account ul li:hover a{
    background: #F36347;
}
.category.gym-category,
.gym-top-user ul>li::after,
.gym-banner-section a.slider-btn,
.gym-bottom-header .shopping-list li span,
.gym-banner-section .swiper-button-prev,
.gym-banner-section .swiper-button-next,
.search-group.gym-search-group button:hover,
.gym-testimonial .owl-theme .owl-nav [class*=owl-]:hover,
.gym-all-product .owl-theme .owl-nav [class*=owl-]:hover,
.gym-top-footer.top-footer .subscrib-btn:hover,
.categories-menu.gym-categories-menu,
.gym-letest-news .news-img .date,
a.checkout-btn.gym-checkout-btn {
    background: #F36347;
}
.cart-delete.gym-cart-delete{
    color: #F36347;
}
.categories-menu.gym-categories-menu,
.categories-menu.gym-categories-menu #navigation .sub-menu {
    background: #F36347;
}

.categories-menu.gym-categories-menu #navigation .sub-menu {
    border-top: 1px solid #F36347;
}
.categories-menu.gym-categories-menu #navigation .sub-menu li a{
    border-bottom: 1px solid #ea5c40;
}

.gym-service-section .service-box {
    outline: 1px solid #F36347;
}

.gym-service-section .service-box span {
    color: #F36347;
}

.gym-all-product .discount-tag {
    background: #F36347;
}

.gym-all-product .single-item {
    outline: 2px solid #fff;
    outline-offset: -25px;
}

.gym-letest-news .news-info p a {
    color: #F36347;
}

.gym-top-footer.top-footer {
    background: #F36347;
}

.gym-top-footer.top-footer .subscrib-btn {
    color: #F36347;
}

.gym-top-footer.top-footer .subscrib-btn:hover {
    color: #fff;
}
*/

.gym-testimonial.testimonial {
    background: url(images/gym-banner.jpg) no-repeat center center / cover;
}


/*.gym-testimonial.testimonial::after {
    background: rgb(243, 99, 71, 0.9);
}

.gym-all-product .add-product ul li a {
    background: #F36347;
    outline: 1px solid #F36347;
}

.gym-all-product .add-product ul li a:hover {
    outline: 1px solid #fff;
}*/

.gym-banner-section .banner-slider-1 {
    background: url('images/slider/gym/01.jpg') no-repeat center center / cover;
}

.gym-banner-section .banner-slider-2 {
    background: url('images/slider/gym/02.jpg') no-repeat center center / cover;
}

.gym-banner-section .banner-slider-3 {
    background: url('images/slider/gym/03.jpg') no-repeat center center / cover;
}

.gym-banner-section .banner-slider-4 {
    background: url('images/slider/gym/04.jpg') no-repeat center center / cover;
}

.gym-banner-section .swiper-slide::after {
    background: rgba(0, 0, 0, 0.8);
}

.gym-banner-section .banner-slider-1.swiper-slide::after,
.gym-banner-section .banner-slider-2.swiper-slide::after,
.gym-banner-section .banner-slider-3.swiper-slide::after,
.gym-banner-section .banner-slider-4.swiper-slide::after {
    background: rgba(0, 0, 0, 0.5);
}



/*==================== (05). End Home 3 Style Css ====================*/


/*==================== (06). Start Home 4 Style Css ====================*/

.electronics-top-user .user-account ul {
    right: 15px;
}

.box-wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    max-width: 1140px;
    margin: 0 auto;
}

.electronics-top-user {
    background: transparent;
    border-bottom: 1px solid #eaeaea;
}


.electronics-top-footer.top-footer {
    padding-left: 15px;
    padding-right: 15px;
}

.electronics-bottom-footer {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.categories-menu.electronics-categories-menu #navigation {
    padding-right: 15px;
}

.electronics-banner-section .slider-info {
    position: absolute;
    top: 50%;
    transform: translateY(-65%);
}

.electronics-banner-section .banner-slider-1 {
    background: url('images/slider/electronics/01.jpg') no-repeat center center / cover;
}

.electronics-banner-section .banner-slider-2 {
    background: url('images/slider/electronics/02.jpg') no-repeat center center / cover;
}

.electronics-banner-section .banner-slider-3 {
    background: url('images/slider/electronics/03.jpg') no-repeat center center / cover;
}

.electronics-banner-section .banner-slider-4 {
    background: url('images/slider/electronics/04.jpg') no-repeat center center / cover;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #222;
    background-color: transparent;
    border-color: transparent transparent #222;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #222;
    font-size: 20px;
}

.electronics-item {
    border: 1px solid #eaeaea;
    cursor: pointer;
    margin: 15px 0;
}

.electronics-item img {
    border-bottom: 1px solid #eaeaea;
}

.electronics-item-info {
    padding: 15px;
}

.electronics-item-info a {
    color: #212121;
    font-size: 18px;
}

.electronics-shopping-btn {
    border: 1px solid #212121;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
}

.electronics-item:hover .electronics-shopping-btn {
    display: none;
}

.electronics-item-img {
    position: relative;
}

.electronics-item-img::after {
    position: absolute;
    content: '';
    background: #000;
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.electronics-item-tag,
.electronics-item-layer {
    position: absolute;
    z-index: 1;
}

.electronics-item-layer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    line-height: 150px;
    border-radius: 50%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}

.electronics-item-layer span {
    position: absolute;
    font-size: 18px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    display: block;
}

.electronics-item-layer span a {
    display: block;
}

.electronics-item-layer span:hover {
    background: #DFB859;
    border-color: #DFB859;
}

.electronics-item-layer a {
    color: #fff;
}

.electronics-item-tag {
    top: 10px;
    left: 0;
    background: #212121;
    width: 60px;
    border-radius: 0 20px 20px 0;
    padding: 3px 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.s-cart {
    left: 0;
}

.w-list {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.p-view {
    right: 0;
}

.p-view,
.s-cart {
    top: 50%;
    transform: translateY(-50%;
    );
}

.electronics-item:hover .electronics-item-layer,
.electronics-item:hover .electronics-item-img::after {
    visibility: visible;
}

.electronics-item:hover .electronics-item-img::after {
    opacity: 0.6;
}

.electronics-item:hover .electronics-item-layer {
    opacity: 1;
}

.electronics-subscribe {
    position: relative;
}

.subscribe-form .form-control {
    border-radius: 50px;
    height: 45px;
    box-shadow: none;
    border: 1px solid #fff;
    padding-right: 200px;
}

.subscribe-form .form-control:focus {
    border: 1px solid #fff;
}

.subscribe-form .btn-primary {
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    background: #212121;
    border: 1px solid #212121;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.subscribe-form .btn-primary:hover,
.subscribe-form .btn-primary:focus,
.subscribe-form .btn-primary:active {
    background: #DFB859 !important;
    border: 1px solid #DFB859 !important;
    box-shadow: none !important;
}

.subscribe-form {
    transform: translateY(25px);
}

.electronics-subscribe {
    background: url(images/electronics-banner.jpg) no-repeat center center / cover;
}

.electronics-subscribe-layer {
    padding: 100px 15px;
    color: #fff;
}

.electronics-subscribe-layer h2 {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 600;
}

.electronics-subscribe-layer p {
    font-size: 26px;
}

.product-tabs {
    margin: 0 0 70px;
}

.electronics-all-product {
    margin: 100px 0 70px;
}

.electronics-add-banner-section {
    margin: 86px 0;
}



/*==================== (06). End Home 4 Style Css ====================*/


/*==================== (07). Start Home 5 Style Css ====================*/

.fashion-top-user {
    background: transparent;
    border-bottom: 1px solid #eaeaea;
}

.fashion-testimonial.testimonial {
    background: url(images/fashion-banner.html) no-repeat center center / cover;
}

.fashion-banner-section .banner-slider-1 {
    background: url('images/slider/fashion/01.jpg') no-repeat center center / cover;
}

.fashion-banner-section .banner-slider-2 {
    background: url('images/slider/fashion/02.jpg') no-repeat center center / cover;
}

.fashion-banner-section .banner-slider-3 {
    background: url('images/slider/fashion/03.jpg') no-repeat center center / cover;
}

.fashion-banner-section .banner-slider-4 {
    background: url('images/slider/fashion/04.jpg') no-repeat center center / cover;
}

.fashion-banner-section .banner-slider-1.swiper-slide::after,
.fashion-banner-section .banner-slider-2.swiper-slide::after,
.fashion-banner-section .banner-slider-3.swiper-slide::after,
.fashion-banner-section .banner-slider-4.swiper-slide::after {
    background: rgba(0, 0, 0, 0.7);
}



/*==================== (07). End Home 5 Style Css ====================*/


/*==================== (08). Start Home 6 Style Css ====================*/

.furniture-top-user {
    background: transparent;
    border-bottom: 1px solid #eaeaea;
}

.furniture-banner-section .banner-slider-1 {
    background: url('images/slider/furniture/01.jpg') no-repeat center center / cover;
}

.furniture-banner-section .banner-slider-2 {
    background: url('images/slider/furniture/02.jpg') no-repeat center center / cover;
}

.furniture-banner-section .banner-slider-3 {
    background: url('images/slider/furniture/03.jpg') no-repeat center center / cover;
}

.furniture-banner-section .banner-slider-4 {
    background: url('images/slider/furniture/04.jpg') no-repeat center center / cover;
}

.furniture-title,
.furniture-img,
.furniture-single-product {
    position: relative;
}

.furniture-tag,
.furniture-tag::after,
.furniture-cart-option {
    position: absolute;
}

.furniture-tag {
    top: 0;
    right: 0;
}

.furniture-tag::after {
    content: '';
    border-top: 50px solid #DFB859;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    top: -7px;
    right: -32px;
    transform: rotate(-135deg);
}

.furniture-tag span {
    right: 6px;
    z-index: 9999999;
    position: absolute;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    transform: rotate(45deg);
    top: 10px;
}

.furniture-cart-option {
    bottom: 15px;
    left: 15px;
}

.furniture-cart-option ul li a {
    color: #DFB859;
    border: 1px solid #DFB859;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    display: block;
    font-size: 16px;
    margin-top: 15px;
}

.furniture-cart-option ul li:hover a {
    background: #DFB859;
    color: #fff;
}

.furniture-cart-option ul li:first-child a {
    margin-top: 0;
}

.furniture-cart-option ul li {
    visibility: hidden;
    opacity: 0;
}

.furniture-cart-option ul li.furniture-cart {
    visibility: visible;
    opacity: 1;
}

.furniture-info {
    padding: 15px;
    border: 1px solid #F1F1F3;
    border-top: none;
}

.furniture-info h5,
.furniture-info ul li h6 {
    margin: 0;
}

.furniture-info h5 a {
    color: #212121;
    font-size: 16px;
}

.furniture-price {
    margin-top: 15px;
}

.furniture-price li ul li {
    font-size: 20px;
    color: #ffcf10;
    margin-right: 10px;
}

.furniture-info ul li h6 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
}

.furniture-cart-option ul li,
.furniture-single-product {
    transition: all 0.3s ease;
}

.furniture-single-product:hover .furniture-cart-option ul li {
    visibility: visible;
    opacity: 1;
}

.furniture-single-product {
    margin-top: 30px;
}

.furniture-title {
    text-align: center;
}

.furniture-title h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.furniture-title::before,
.furniture-title::after {
    position: absolute;
    content: '';
    width: 35%;
    height: 3px;
    background: #DFB859;
    top: 50%;
    transform: translateY(-50%);
}

.furniture-title::after {
    left: 0;
}

.furniture-title::before {
    right: 0;
}

.furniture-popular-product {
    margin: 100px 0;
}

.furniture-categories-img {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

.furniture-categories-info {
    position: absolute;
    bottom: -35%;
    left: 0;
    background: #DFB85995;
    width: 100%;
    color: #fff;
    padding: 15px;
    text-transform: capitalize;
}

.furniture-categories-img:hover .furniture-categories-info {
    bottom: 0
}

.furniture-categories-img:hover img {
    transform: scale(1.3) rotate(8deg);
}

.furniture-categories-info h3 {
    font-size: 20px;
}

.furniture-categories-info h2 {
    font-size: 22px;
}

.furniture-categories-info h3,
h2,
p {
    font-weight: 600;
}

.furniture-banner {
    background: url(images/furniture-bg.jpg) no-repeat center center / cover;
    margin: 100px 0;
}

.furniture-banner-layer {
    background: #DFB85995;
    color: #fff;
    padding: 50px 0;
}

.furniture-banner-text h2 {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
}

.furniture-banner-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.furniture-banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.furniture-single-news-img {
    position: relative;
}

.furniture-single-news-info li {
    margin-right: 15px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.furniture-single-news-info .title {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.furniture-single-news-info .more-news {
    display: block;
    border: 1px solid #DFB859;
    color: #DFB859;
    font-size: 15px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-top: 20px;
}

.furniture-single-news:hover .more-news {
    background: #DFB859;
    color: #fff;
}

.furniture-single-news {
    margin-top: 30px;
}

.furniture-single-news-info {
    border: 1px solid #f6f6f6;
    padding: 15px;
    border-top: none;
}

.furniture-news {
    margin: 100px 0;
}

.furniture-gallery {
    margin-bottom: -13px;
}

.furniture-gallery ul {
    font-size: 0;
}

.furniture-gallery ul li {
    display: inline-block;
    width: 12.5%;
    overflow: hidden;
}

.furniture-gallery ul li:hover img {
    transform: scale(1.3) rotate(-12deg);
}



/*==================== (08). End Home 6 Style Css ====================*/


/*==================== (09). Start Shop pages Style Css ====================*/

.page-location {
    background: url(images/mann-bg1.png) no-repeat center center / cover;
}

.page-location-layer {
    background: rgb(0, 0, 0, 0.5);
    padding: 90px 0;
}

.page-location .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 0;
}

.page-location-title h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.page-location .breadcrumb li,
.page-location .breadcrumb li a {
    color: #fff;
    font-size: 16px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    content: "\f105";
    font-family: fontawesome;
}

.shop-products {
    margin-top: 70px;
}

.shop-products .item {
    margin-top: 30px;
    cursor: pointer;
}

.shop-products .item .single-item {
    position: relative;
}

.shop-products .item .single-item::after,
.shop-products .item .single-item::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    outline: 1px solid #DFB859;
    transition: all .4s ease;
    visibility: hidden;
}

.shop-products .item .single-item::after {
    top: 0;
    left: 0;
}

.shop-products .item .single-item::before {
    bottom: 0;
    right: 0;
}

.shop-products .item:hover>.single-item::after,
.shop-products .item:hover>.single-item::before {
    height: 100%;
    width: 100%;
    outline-offset: -15px;
    visibility: visible;
}

.shop-products .item .add-product {
    z-index: 1;
}



/*==================== (09). End Shop pages Style Css ====================*/


/*==================== (10). Start Shop page left sidebar Style Css ====================*/

.filter-list {
    background: #f1f1f1;
    margin-top: 100px;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}

.Sort-type li,
.grid-type li {
    margin-right: 15px;
}

.Sort-type li:last-child,
.grid-type li:last-child {
    margin-right: 0;
}

.grid-type li a {
    color: #000;
    font-size: 25px;
}

.Sort-type li {
    font-size: 13px;
    text-transform: uppercase;
}

.sort-title {
    font-size: 16px;
    font-weight: 600;
}

.Sort-by-price select,
.Sort-by-show select {
    border: 1px solid #fff;
    padding: 3px;
    cursor: pointer;
}

.grid-active i {
    color: #DFB859;
}

.pagination-bar {
    margin-top: 50px;
}

.page-link {
    border-radius: 0 !important;
}

.page-link {
    padding: 0;
    color: #007bff;
    background: #DFB859 !important;
    border: none;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    transition: all .3s ease;
}

.page-item:last-child .page-link {
    margin-right: 0;
}

.page-link:hover {
    outline: 1px solid #fff;
    outline-offset: -4px;
    color: #fff;
}



/*--------------------- Start sidebar left ---------------------*/

.section-group {
    background: #fafafa;
    padding: 15px;
    margin: 30px 0;
}

.section-group .title h4 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #dfb859;
    padding-bottom: 10px;
    position: relative;
    padding-left: 25px;
    color: #222;
}

.section-group .title h4::after {
    position: absolute;
    content: '';
    border-top: 12px solid #dfb859;
    border-right: 12px solid #dfb859;
    border-left: 6px solid transparent;
    left: 0;
    top: 3px;
}



/*--------------------- radio buttons ---------------------*/

.radio {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.radio label {
    cursor: pointer;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 0;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #DFB859;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #DFB859;
}



/*----------------- Start sidebar category -----------------*/

.categories li {
    margin: 15px 0;
}

.categories li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a {
    color: #222;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}




/*------------------ Start price range ------------------*/

.range-slider {
    height: 8px;
    background: #000;
    border-radius: 20px;
    margin: 15px 0;
    position: relative;
}

.range-slider::before,
.range-slider::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #DFB859;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.range-slider::after {
    left: 20px;
}

.range-slider::before {
    right: 20px;
}



/*------------------ Start sidebar brands ------------------*/

.brand-list li a {
    color: #222;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.brand-list li {
    margin: 15px 0;
}

.brand-list li:last-child {
    margin: 0;
}

.rating li {
    font-size: 16px;
    margin-right: 10px;
    color: #f1c40f;
}




/*==================== (10). End Shop page left sidebar Style Css ====================*/


/*==================== (11). Start Shop page list layout left side Style Css ====================*/

.shop-products .grid-list .item .price-info {
    border: 1px solid #F1F1F3 !important;
    border-left: none;
    width: 100%;
    padding: 22.3px !important;
}

.shop-products .grid-list .item .price-info a {
    color: #222;
    font-size: 18px;
}

.shop-products .grid-list .item .single-item::after,
.shop-products .grid-list .item .single-item::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    outline: 1px solid #DFB859;
    transition: all .4s ease;
    visibility: visible;
    outline-offset: -15px;
}

.shop-products .grid-list .add-product {
    position: static;
    transform: translateY(0);
    margin-top: 30px;
}

.shop-products .grid-list .item .price-info .add-product a {
    color: #fff;
    font-size: 14px;
    min-width: 140px;
    height: initial;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.shop-products .grid-list .item .price-info .add-product a i {
    margin-right: 5px;
}



/*==================== (11). End Shop page list left sidebar Style Css ====================*/


/*==================== (12). Start Shop page list Style Css ====================*/

.shop-products.shop-products-list .grid-list .item .price-info {
    border: 1px solid #F1F1F3 !important;
    border-left: none;
    width: 100%;
    padding: 22.3px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*==================== (12). End Shop page list Style Css ====================*/


/*==================== (13). Start Product Details page Style Css ====================*/

.flex-control-thumbs {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.flex-control-thumbs img {
    border-top: 3px solid #222;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
    border-top: 3px solid #dfb859;
}

.flex-direction-nav a {
    margin: 0;
    line-height: 40px;
    transform: translateY(-50%);
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-size: 30px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
}

.flexslider {
    margin: 0;
}

.single-product-area {
    margin-top: 93px;
}

.single-product-detail .title a {
    color: #222;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
}

.single-product-detail .review li {
    font-size: 18px;
    color: #f1c40f;
    margin-right: 15px;
}

.social-shere li:last-child,
.product-add li:last-child,
.single-product-detail .review li:last-child {
    margin-right: 0;
}

.single-product-detail .review li.review-number {
    color: #222;
    font-size: 13px;
}

.available {
    font-size: 14px;
    margin-bottom: 20px;
}

.available span {
    font-size: 18px;
}

.social-shere,
.product-qty,
.product-color,
.product-size {
    margin-top: 15px;
}

.product-qty .title,
.product-color .title,
.product-size .title {
    position: relative;
    padding-left: 25px;
    font-size: 18px;
}

.product-qty .title::after,
.product-color .title::after,
.product-size .title::after {
    position: absolute;
    content: '';
    border-top: 10px solid #222;
    border-right: 10px solid #222;
    border-left: 5px solid transparent;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.product-qty .qty {
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #222;
    margin-left: 10px;
}

.product-add {
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-add li {
    margin-right: 10px;
}

.product-add li a {
    color: #ffffff;
    background: #dfb859;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    position: relative;
    transition: all .3s ease;
    outline: 1px solid #fff;
    outline-offset: -5px;
}

.product-add li a:hover {
    width: 150px;
}

.product-add li a:hover>i {
    display: none;
}

.product-add li a::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
    font-size: 16px;
    text-transform: capitalize;
}

.product-add li a:hover.cart::after {
    content: "add to cart";
}

.product-add li a:hover.wishlist::after {
    content: 'wishlist';
}

.product-add li a:hover.exchange::after {
    content: 'compare';
}

.social-shere .title {
    font-size: 16px;
    font-weight: 600;
}

.social-shere li {
    margin-right: 15px;
}

.social-shere li a {
    color: #222;
    font-size: 18px;
}



/*------------------ Start comment area ------------------*/

.comment-area {
    margin-top: 50px;
}

div#myTabContent {
    padding: 30px;
    border: 1px solid #eee;
    border-top: 0;
}

.Specifications-table {
    border: 1px solid #cfcfcf;
}

.Specifications-table li {
    border-bottom: 1px solid #cfcfcf;
    height: 40px;
    line-height: 40px;
}

.Specifications-table li:last-child {
    border-bottom: none;
}

.sp-title {
    border-right: 1px solid #cfcfcf;
    width: 30%;
    font-weight: 600;
    text-align: right;
    padding-right: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.Specifications-table li span {
    padding-left: 15px;
}

.Specifications-table li span.sp-name {
    font-size: 14px;
    color: #222;
}

.review-list {
    border-right: 3px solid #eee;
    padding-right: 20px;
}

.review-list li {
    margin-bottom: 10px;
}

.review-list li:last-child {
    margin-bottom: 0;
}

.review-list span.starts {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
}

.review-list span.starts i {
    color: #f1c40f;
}

.review-list span.bar {
    display: inline-block;
    height: 10px;
    background: #eeeeee;
    width: 73%;
    margin-left: 5px;
}

.total-star i {
    color: #f1c40f;
    font-size: 120px;
}

.total-star {
    position: relative;
}

.total-star span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    font-size: 20px;
}

.submit-reviews h4 {
    font-size: 16px;
}

.submit-reviews ul li {
    font-size: 24px;
    margin-right: 10px;
}

.submit-reviews ul li:hover {
    color: #f1c40f;
    cursor: pointer;
}

.submit-reviews ul li:last-child {
    margin-right: 0;
}

.rate {
    font-size: 20px;
    font-weight: 700;
}

.nav-link,
.nav-link:hover {
    color: #222;
    border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-radius: 0;
}



/*==================== (13). End Product Details page Style Css ====================*/


/*==================== (14). Start Chockout page Style Css ====================*/

.checkout-area {
    margin-top: 100px;
}

.biling-address,
.biling-type,
.order-detail {
    border: 1px solid #f1f1f3;
    padding: 15px;
}

.biling-address h4,
.biling-type h4,
.order-detail h4 {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
}

.biling-address .form-control {
    border-radius: 0;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    height: 38px;
}

.biling-address .form-control:focus {
    border-color: #DFB859;
}

.biling-address label {
    font-size: 14px;
}

.porduct-place-order-btn {
    border-radius: 0;
    background: #DFB859;
    color: #fff;
    font-weight: 600;
}

.porduct-place-order-btn:active {
    outline: none !important;
    box-shadow: none;
}

.biling-type {
    margin-bottom: 30px;
}

.order-detail li {
    line-height: 35px;
}

.order-detail li span {
    font-size: 16px;
}



/*==================== (14). End Chockout page Style Css ====================*/


/*==================== (15). Start Cart page Style Css ====================*/

.cart-area {
    margin-top: 100px;
}

.cart-section tr th div {
    padding: 15px;
    background: #dfb859;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #DFB859;
}

.cart-section tr th div,
.cart-section tr td div {
    text-align: center;
}

tr.cart-header {
    border: 1px solid #DFB859;
    border-bottom: none;
}

.cart-img {
    width: 5%;
    padding: 10px;
}

.cart-section tr td {
    border: 1px solid #DFB859;
    border-top: none;
}

.cart-section tr td {
    font-size: 16px;
    font-weight: 600;
}

.cart-section tr td a {
    color: #222;
}

.cart-section tr td.cart-product-title a {
    font-size: 16px;
    font-weight: normal;
}

.cart-section tr td.cart-price {
    font-size: 18px;
}

.cart-section tr td a.dlt-btn {
    font-size: 20px;
    color: #DFB859;
}

a.dlt-btn.add-cart-btn {
    background: #DFB859;
    padding: 5px;
    color: #fff !important;
    margin: 0 auto;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    display: block;
    font-size: 18px !important;
}

.cart-section tr td.cart-qty div input[type="number"] {
    text-align: center;
    border-radius: 4px;
    border: 1px solid #222;
}

.cart-area .order-detail {
    margin-top: 50px;
    border: 1px solid #dfb859;
}

.cart-area .order-detail ul li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    margin: 10px 0;
}

.cart-area .order-detail ul li:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.cart-btn-area {
    text-align: right;
}

.cart-btn-area .porduct-place-order-btn {
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 30px 10px 0;
    font-weight: 700;
}

.cart-btn-area .porduct-place-order-btn:hover {
    color: #fff;
}

.cart-btn-area .porduct-place-order-btn:first-child {
    margin-left: 0;
}

.cart-btn-area .porduct-place-order-btn:last-child {
    margin-right: 0;
}




/*----------------- table responsive view -----------------*/

.responsive-view {
    display: none;
}




/*==================== (15). End Cart page Style Css ====================*/


/*==================== (16). Start blog grid page Style Css ====================*/

.blog-grid-area {
    margin-top: 70px;
}

.blog-grid-area .single-news {
    margin-top: 30px;
}

a.page-link {
    border-radius: 0px !important;
    width: 30px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.search-bar .subscription-form .form-control {
    border: 1px solid #e2e2e2;
    margin-top: 30px;
}

.add-banner,
.blog-tags,
.bast-saller,
.category-bar,
.bast-saller {
    border: 1px solid #e4e4e4;
    padding: 15px;
    background: #fcfcfc;
    margin-top: 30px;
}

.news-reply h6,
.news-comments h6,
.blog-tags h5,
.bast-saller h5,
.bast-saller h5,
.category-bar h5 {
    text-transform: uppercase;
    border-bottom: 1px solid #dfb859;
    padding-bottom: 15px;
    font-size: 16px;
    position: relative;
    padding-left: 25px;
}

.news-reply h6::after,
.news-comments h6::after,
.blog-tags h5::after,
.bast-saller h5::after,
.bast-saller h5::after,
.category-bar h5::after {
    position: absolute;
    content: '';
    border-top: 12px solid #dfb859;
    border-right: 12px solid #dfb859;
    border-left: 6px solid transparent;
    left: 0;
    top: 3px;
}

.bast-saller {
    margin-bottom: 0;
}

.bast-saller ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog-tags ul li {
    display: inline-block;
    margin: 5px;
    margin-left: 0;
}

.blog-tags ul li a {
    background: #dfb859;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 3px 20px;
    display: block;
    text-transform: capitalize;
}



/*==================== (16). End blog grid page Style Css ====================*/


/*==================== (17). Start blog details page Style Css ====================*/

.single-news-details .news-info h6 a {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.single-news-details .news-info p {
    font-size: 16px;
    line-height: 30px;
}

.news-reply,
.news-comments {
    margin-top: 50px;
}

.news-reply h6,
.news-comments h6 {
    margin-bottom: 30px;
}

.single-comment:nth-child(odd) {
    margin-left: 30px;
}

.news-reply .form-control {
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
}

.news-reply .form-control:focus {
    border-color: #DFB859;
}

.news-reply .btn-primary,
.news-reply input[type="text"],
.news-reply input[type="email"] {
    height: 45px;
}

.news-reply .btn-primary {
    border-radius: 0;
    text-transform: uppercase;
    min-width: 200px;
    font-weight: 700;
    font-size: 18px;
}

.news-reply .btn-primary,
.news-reply .btn-primary:hover,
.news-reply .btn-primary:focus {
    box-shadow: none !important;
    background: #DFB859 !important;
    border-color: transparent !important;
}

.single-comment {
    margin-bottom: 15px;
}

.single-comment:last-child {
    margin-bottom: 0;
}




/*==================== (17). End blog details page Style Css ====================*/


/*==================== (18). End order history page Style Css ====================*/

.order-history a.dlt-btn.add-cart-btn {
    padding: 8px 15px;
    color: #fff !important;
    margin: 0 auto;
    border-radius: 4px;
    width: initial;
    text-align: center;
    display: inline-block;
    font-size: 15px !important;
}



/*==================== (18). End order history page Style Css ====================*/


/*==================== (19). Start Login page Style Css ====================*/

.user-area {
    margin: 100px 0;
}

.login-area {
    border: 1px solid #e4e4e4;
    padding: 30px;
    background: #f6f6f6;
}

.login-area .form-control {
    border-radius: 0;
    box-shadow: none;
    outline: none;
    height: 45px;
    border: 1px solid #e4e4e4;
}

.login-area .form-control:focus {
    border-color: #DFB859;
}

.login-area .btn-primary {
    min-width: 150px;
    height: 45px;
}

.login-area .btn-primary,
.login-area .btn-primary:hover,
.login-area .btn-primary:focus,
.login-area .btn-primary:active {
    background: #DFB859 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
    text-transform: uppercase;
    font-weight: 700;
}




/*==================== (19). End Login page Style Css ====================*/


/*==================== (20). Start Contact page Style Css ====================*/

#googleMap {
    height: 500px;
    width: 100%;
}

.contact-us {
    margin: 0 0 100px;
}

.contactus-info {
    padding: 100px 0;
    text-align: center;
}

.contactus-info h6 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: 2px;
    position: relative;
}

.contactus-info span {
    font-size: 14px;
    font-weight: 500;
}

.contactus-single-info {
    border: 1px solid #e4e4e4;
    min-height: 195px;
    padding: 30px;
}

.contactus-single-info .info-icon {
    margin-bottom: 20px;
    font-size: 18px;
    background: #DFB859;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}

.contactus-form .form-control {
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    font-size: 14px;
    color: #222;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
}

.contactus-form .form-control:focus {
    border-color: #DFB859;
}

.contactus-form input[type="text"],
.contactus-form input[type="email"] {
    height: 45px;
}

.contactus-form .btn-primary,
.contactus-form .btn-primary:hover,
.contactus-form .btn-primary:focus,
.contactus-form .btn-primary:active {
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #DFB859;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    height: 45px;
    min-width: 200px;
}




/*------------- contact us 2 -----------------*/

.contact-us-2 {
    margin: 0;
}

.contact-us-2 .contactus-info {
    padding: 0 0 20px;
    margin-top: 100px;
}

.contact-us-2 .contactus-single-info {
    min-height: 175px;
}

.contact-us-2 .contactus-single-info {
    margin-bottom: 30px;
}

.contact-us-2 #googleMap {
    height: 100%;
}

.contact-us-2 textarea {
    height: 200px;
}

.contact-us-2 .contactus-form .btn-primary {
    margin-bottom: 100px;
}



/*==================== (20). End Contact page Style Css ====================*/


/*==================== (21). Start footer section Style Css ====================*/

.top-footer {
    background: #DFB859;
    color: #fff;
    padding: 100px 0;
}

.top-ftr-title {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.top-ftr-title h5 {
    font-weight: 600;
    font-size: 18px;
}

.top-ftr-title::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.contact-info li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 45px;
    line-height: 20px;
    font-weight: 500;
}

.link-info li:last-child,
.contact-info li:last-child {
    margin-bottom: 0;
}

.contact-info li::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: fontawesome;
    font-size: 16px;
    border: 1px solid #fff;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
}

.suport::after {
    content: '\f017';
}

.address::after {
    content: '\f21d';
}

.mail::after {
    content: '\f0e0';
}

.phone::after {
    content: '\f095';
}

.link-info a {
    color: #fff;
}

.link-info li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
}

.link-info li::after {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 12px solid #fff;
    border-left: 12px solid #fff;
    border-right: 6px solid transparent;
}

.subscription-form {
    position: relative;
}

.subscription-form .form-control {
    border: none;
    box-shadow: none;
    border-radius: 50px;
    font-size: 13px;
    height: 40px;
    padding-right: 58px;
}

.subscrib-btn {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    border-radius: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 50px;
    padding: 0;
    color: #DFB859;
    background: #fff;
    border: 1px solid #cfcfcf;
}

.subscrib-btn:active {
    box-shadow: none !important;
}

.subscrib-btn:hover {
    background: #DFB859;
    color: #fff;
    border-color: transparent;
}

.bottom-footer {
    background: #222;
    padding: 15px 0;
    color: #fff;
}

.bottom-footer li {
    margin-right: 20px;
}

.bottom-footer li:last-child {
    margin-right: 0;
}

.payment-method {
    transform: translateY(18px);
}

.bottom-footer .social a {
    color: #fff;
}



/*==================== (21). End footer section Style Css ====================*/


/*mobal-subscribe*/

.subscribe-dialog {
    max-width: 900px;
    margin: 250px auto;
}

.subscribe-box {
    padding: 50px;
}

.subscribe-box h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.subscribe-box p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

.subscribe-box form {
    position: relative;
    margin: 25px 0;
}

.subscribe-box input[type="email"] {
    height: 50px;
    width: 100%;
    padding: 0px 120px 0px 15px;
}

.subscribe-box input[type="submit"] {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background: #212121;
    color: #fff;
}

.subscribe-box input[type="email"],
.subscribe-box input[type="submit"] {
    border: none;
    border: 1px solid #fff;
}

.subscribe-box input[type="submit"]:hover {
    background: #dfb859;
    color: #fff;
    border: 1px solid #fff;
}

.subscribe-dialog .modal-content button {
    top: 0;
    right: 0;
}

#popup-subscribe .modal-content {
    height: 445px;
    justify-content: center;
    border-radius: 0;
    background: #DFB859;
}

.subscribe-dialog .modal-content button {
    top: -18px;
    right: -2%;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    background: #dfb859;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border: none;
    font-size: 26px;
    position: absolute;
    color: #fff;
    cursor: pointer;
}


/*mobal-subscribe*/