.logo_head
{
  width: 229px;
}
.btn-pink, .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background-color: #f05521 !important;
    border: 1px solid #f05521 !important;
    color: #ffffff;
}
.panel-heading {
    border: none !important;
    padding: 0px 20px !important;
}
.text-dark {
    color: #000 !important;
}
.card_box_custom
{
border-radius: 241px 7px 217px 0px/7px 218px 7px 244px;
border: solid 5px #244668 !important;
border-left-color: #6e3951 !important;
border-right-color: #6e3951 !important;
}
.font
{
  font-size: 13px !important;
}
.text_black
{
  color: #000 !important;
}
.card-box
{
      background-color: #ffffff73 !important;
}
