.height_image
{
  height: 28px;
  padding-right: 10px;
}
#sidebar-menu
{
  padding-top: 0px !important;
}
.label
{
  color: #000 !important;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}


.item.list-group-item .list-group-image
{
    margin-right: 10px;
}

.lead {
    font-size: 14px !important;

}
.text-black
{
  color: #000 !important;
}
.graph_height
{
  width: 100%;
height: 356px;
}
.table_shop_custom td,th{font-size: 12px !important;}
