<table style="width:100% !important;">
<tbody>
<tr>
<td style="width:30%;"><img style="display:block; margin:auto; width:150px; " src="https://tech.hawkscode.in/houdin-e/master/assets/images/logo_4.png" alt="Logo"></td>
<td style="width:70%;"><table style="float:right;">
<tbody>
<tr>
<td style="font-size:12px;">xvxnjmjmjmm</td>
</tr>
<tr>
<td style="font-size:12px;">fgdvghgjnhgjhjf</td>
</tr>
<tr>
<td style="font-size:12px;">T: fghfnjhgnhg </td>
</tr>
<tr>
<td style="font-size:12px;">E: fdgdghjnghjnhgjh</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
  <br/>
  <hr/>

  <table style="width:100% !important;">
  <tbody>
  <h4>
Invoice Statement</h4>
  <tr>
  <td style="width:67%; font-size:12px;">To<br/>
fghf</td>
  <td style="width:33%;"><table style="float:right; width:auto; margin-right:5px;">
  <tbody>

  <tr>
  <td style="font-size:12px;">Statement Date :	dsgfd
</td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
<table>
<tr><td>&nbsp;</td></tr>
</table>

  <table>
  <tr><td>&nbsp;</td></tr>
  </table>
  <table border="1" cellpadding="10" style="width:100% !important;">
  <tr>
  <td style="font-size:12px;font-weight:700; color:#fff;" bgcolor="#000">Description</td>
    <td style="font-size:12px;font-weight:700; color:#fff;" bgcolor="#000">Amount</td>
      <td style="font-size:12px;font-weight:700; color:#fff;" bgcolor="#000">Date</td>
        <td style="font-size:12px;font-weight:700; color:#fff;" bgcolor="#000">status</td>

  </tr>
  <tr>
  <td style="font-size:12px;font-weight:700;">Current Balance</td>
    <td style="font-size:12px;font-weight:700;">fdgdf</td>
      <td style="font-size:12px;font-weight:700;">fgd</td>
        <td style="font-size:12px;font-weight:700;">fgdghd</td>

  </tr>
  </table>
  <table>
  <tr><td>&nbsp;</td></tr>
  </table>

  <table style="width:98%;" cellpadding="10" cellspacing="10">
  <tbody>
  <tr>
  <td style="width:40%;"></td>
  <td style="width:60%;">
  <table style="font-weight:bold; text-align:right; width:98%;  border:1px solid #8e8e8e;">
  <tbody>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>

  <tr><td style="font-size:11px;">Total Balance:</td>
  <td style="font-size:11px;padding-right:10px !important;">fdgfdg</td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  </tbody></table></td></tr></tbody></table>
