.block-number{text-align:center;font-weight:bold;font-size:0.8125em;letter-spacing:2px;text-transform:uppercase;color:#191919;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}.block-number:hover{opacity:1}.block-number::after{content:'';display:inline-block;width:0;height:0;margin-left:6px;margin-bottom:2px;border-left:3px solid transparent;border-right:3px solid transparent;border-top:3px solid #191919}.block-number a:hover,.block-number a:focus{color:#191919}.demo-section .main-content .section,.demo-topbar .main-content .topbar,.demo-navbar .main-content .navbar,.demo-header .main-content .header,.demo-footer .main-content .footer{margin:30px 20px 100px;border:1px solid #f5f6f7;-webkit-box-shadow:0 0 15px rgba(0,0,0,0.05);box-shadow:0 0 15px rgba(0,0,0,0.05)}.demo-topbar .main-content .topbar,.demo-navbar .main-content .navbar{position:static;margin:0}.sample-blocks img{border-radius:0.25rem}.sample-blocks img.aos-animate{opacity:0.5 !important}.sample-blocks img:hover{opacity:1 !important;-webkit-transition:0.7s !important;transition:0.7s !important}.sample-blocks a{position:absolute}.sample-blocks a:nth-child(1){-webkit-animation:wobble 4s infinite;animation:wobble 4s infinite;right:15px;bottom:-20px}.sample-blocks a:nth-child(2){-webkit-animation:wobble 8s infinite;animation:wobble 8s infinite;right:320px;bottom:30px}.sample-blocks a:nth-child(3){-webkit-animation:wobble 5s infinite;animation:wobble 5s infinite;right:0px;bottom:190px}.sample-blocks a:nth-child(4){-webkit-animation:wobble 6s infinite;animation:wobble 6s infinite;right:280px;bottom:180px}.sample-blocks a:nth-child(5){-webkit-animation:wobble 9s infinite;animation:wobble 9s infinite;right:270px;bottom:320px}.sample-blocks a:nth-child(6){-webkit-animation:wobble 7s infinite;animation:wobble 7s infinite;right:20px;bottom:370px}.sample-blocks a:nth-child(7){-webkit-animation:wobble 5s infinite;animation:wobble 5s infinite;right:200px;bottom:470px}.sample-blocks a:nth-child(8){-webkit-animation:wobble 8s infinite;animation:wobble 8s infinite;right:10px;bottom:470px}.sample-blocks a:nth-child(9){-webkit-animation:wobble 9s infinite;animation:wobble 9s infinite;right:0px;bottom:570px}@-webkit-keyframes wobble{0%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}50%{-webkit-transform:rotate(1deg) translate(5px, 5px);transform:rotate(1deg) translate(5px, 5px)}100%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}}@keyframes wobble{0%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}50%{-webkit-transform:rotate(1deg) translate(5px, 5px);transform:rotate(1deg) translate(5px, 5px)}100%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}}@media (max-width: 400px){body>.footer .social a:last-child,body>.footer .nav a:last-child{display:none}}

/*# sourceMappingURL=style.css.map */
: rotate(-1deg) translate(-5px, -5px);
            transform: rotate(-1deg) translate(-5px, -5px); } }

@keyframes wobble {
  0% {
    -webkit-transform: rotate(-1deg) translate(-5px, -5px);
            transform: rotate(-1deg) translate(-5px, -5px); }
  50% {
    -webkit-transform: rotate(1deg) translate(5px, 5px);
            transform: rotate(1deg) translate(5px, 5px); }
  100% {
    -webkit-transform: rotate(-1deg) translate(-5px, -5px);
            transform: rotate(-1deg) translate(-5px, -5px); } }

@media (max-width: 400px) {
  body > .footer .social a:last-child,
  body > .footer .nav a:last-child {
    display: none; } } 

/*# sourceMappingURL=style.css.map */

.navbar-top .nav-navbar{
margin-left:auto;
margin-right:auto;
}
.nav-mega-heading{margin-bottom:5px;font-size:13px}
.btn-other-nav{
font-size:12px;
margin-left:15px;
}

.navbar-top.navbar-light:not(.stick) .btn-other-nav.btn-three{
	color: #59485a;
    background-color: #fff;
    border-color: #fff;
}
.btn-other-nav + .btn-other-nav{}
.navbar-top.stick .btn-other-nav.btn-outline-light,
.navbar-top:not(.navbar-light) .btn-other-nav.btn-outline-light{
	color: #59485a;
    border-color: #59485a;
}
 
.navbar-top:not(.navbar-light) .btn-other-nav.btn-outline-light:hover,
.navbar-top:not(.navbar-light) .btn-other-nav.btn-outline-light:focus,	
.navbar-top.stick .btn-other-nav.btn-outline-light:hover,
.navbar-top.stick .btn-other-nav.btn-outline-light:focus{
	color: #fff;
     background-color: #59485a; 
    border-color: #59485a;
    -webkit-box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
    box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
}
.nav-tabs-outline .nav-link{
	border: 1px solid #867b83;
	color: #867b83;
}
.nav-tabs-outline .nav-link:hover, .nav-tabs-outline .nav-link.active {
    color: #fff;
    background-color: #867b83;
}
.btn-second{
	color: #fff;
    background-color: #6c79ae;
    border-color: #6c79ae;
}
.btn-second:hover,.btn-second:focus{
	color: #fff;
    background-color: #6878b9;
    border-color: #6878b9;
    -webkit-box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
    box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
}

.btn-three{
	color: #fff;
    background-color: #59485a;
    border-color: #59485a;
}
.btn-three:hover,.btn-three:focus{
	color: #fff;
    background-color: #553f56;
    border-color: #553f56;
    -webkit-box-shadow: 0 1px 10px rgba(134, 123, 131, 0.4);
    box-shadow: 0 1px 10px rgba(134, 123, 131, 0.4);
}
.text-three{
	color:#59485a !important;
}


.btn-four{
	color: #fff;
    background-color: #bcaaa0;
    border-color: #bcaaa0;
}
.btn-four:hover,.btn-four:focus{
	color: #fff;
    background-color: #e0c5af;
    border-color: #e0c5af;
    -webkit-box-shadow: 0 1px 10px rgba(134, 123, 131, 0.4);
    box-shadow: 0 1px 10px rgba(134, 123, 131, 0.4);
}
.text-four {
    color: #bcaaa0 !important;
}

.text-second{
	color:#6b78ae !important;
}



.btn-dark {
    color: #fff;
    background-color: #34495c;
    border-color: #34495c;
}

.btn-dark:hover,.btn-dark:focus {
    color: #fff;
   background-color:#455361;
    border-color: #455361;
}
.fs-8{font-size:8px !important}
.fs-9{font-size:9px !important}
.fs-10{font-size:10px !important}
.fs-11{font-size:11px !important}
.fs-12{font-size:12px !important}
.fs-13{font-size:13px !important}
.fs-14{font-size:14px !important}
.fs-15{font-size:15px !important}
.fs-16{font-size:16px !important}
.fs-17{font-size:17px !important}
.fs-18{font-size:18px !important}
.fs-19{font-size:19px !important}
.fs-20{font-size:20px !important}
.fs-22{font-size:22px !important}
.fs-24{font-size:24px !important}
.fs-25{font-size:25px !important}
.fs-26{font-size:26px !important}
.fs-28{font-size:28px !important}
.fs-30{font-size:30px !important;line-height:1.2}
.fs-35{font-size:35px !important;line-height:1.2}
.fs-40{font-size:40px !important;line-height:1.2}
.fs-45{font-size:45px !important;line-height:1.2}
.fs-50{font-size:50px !important;line-height:1.2}
.fs-60{font-size:60px !important;line-height:1.2}
.fs-70{font-size:70px !important;line-height:1.2}
.fs-80{font-size:80px !important;line-height:1.2}
.fs-90{font-size:90px !important;line-height:1.2}
.fw-100{font-weight:100 !important}
.fw-200{font-weight:200 !important}
.fw-300{font-weight:300 !important}
.fw-400{font-weight:400 !important}
.fw-500{font-weight:500 !important}
.fw-600{font-weight:600 !important}
.fw-700{font-weight:700 !important}
.fw-800{font-weight:800 !important}
.fw-900{font-weight:900 !important}


.header-page-top{
	padding-bottom: 0px;
	padding-top: 80px;  
}
.header-page-top .header-page-top-inner{
    background-color: #222;
    color:  #fff;
    padding: 5px 0px;

}
.header-page-top h1{color: #fff;}	
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}

#site-footer{
   /* background-color: #34495d !important; */
    background-color:#69718e !important; 
}
#site-footer .nav-link{
position:relative;
}
#site-footer .nav-link:after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity:0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
}
#site-footer .nav-link:hover::after{
	opacity:0.5;
}

.sidebar_link_box{
	border: 1px solid #eee;
	padding: 0px 0px;
}
.sidebar_link_box a.nav-link{
	border-bottom: 1px solid #eee;
	padding: 5px 15px !important
}
.sidebar_link_box a.nav-link:last-child{
	border-bottom: 0px solid #eee;
}
.theme-product-overlay{
		position:relative;
		display:block; 
		width:100%;
	}
.theme-product-overlay:before{ 
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px; 
	opacity:0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;

}
.theme-product-overlay:after{
	content: "\f0b2";
	font-family: FontAwesome;
	color: #fff;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	opacity:0;
	font-size:20px;
}

.theme-product-overlay:hover::after,
.theme-product-overlay:hover::before{opacity:1;}
.register_active_step_box{
	list-style-type: none;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 50px;
}	
.register_active_step_box > li{
	width: 50%;
	float: left;
}
.register_active_step_box > li  > a{
	display: block;
	border: 1px solid #ddd;
	margin: 0px 10px;
	padding: 10px 15px;
	border-radius: 50px;
	font-size: 16px;
	position:relative;
}
.register_active_step_box > li  > a.current_step_active{
	background-color: #50a1ff;
	color: #fff !important;
	border-color: #50a1ff;
}
.register_active_step_box > li  > a span{
	width: 25px;
	line-height: 22px;
	height: 25px;
	float: left;
	background-color: #fff;				
	border-radius: 50%;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border: 1px solid #ddd;
	font-size:14px;
}
.register_active_step_box > li  > a.current_step_active span{
	color: #50a1ff;
	border: 1px solid #fff;
}

@media(max-width:767px){
	.hidden-xs{display:none}
}
