.block-number{text-align:center;font-weight:bold;font-size:0.8125em;letter-spacing:2px;text-transform:uppercase;color:#191919;-webkit-transition:0.3s ease-out;transition:0.3s ease-out}.block-number:hover{opacity:1}.block-number::after{content:'';display:inline-block;width:0;height:0;margin-left:6px;margin-bottom:2px;border-left:3px solid transparent;border-right:3px solid transparent;border-top:3px solid #191919}.block-number a:hover,.block-number a:focus{color:#191919}.demo-section .main-content .section,.demo-topbar .main-content .topbar,.demo-navbar .main-content .navbar,.demo-header .main-content .header,.demo-footer .main-content .footer{margin:30px 20px 100px;border:1px solid #f5f6f7;-webkit-box-shadow:0 0 15px rgba(0,0,0,0.05);box-shadow:0 0 15px rgba(0,0,0,0.05)}.demo-topbar .main-content .topbar,.demo-navbar .main-content .navbar{position:static;margin:0}.sample-blocks img{border-radius:0.25rem}.sample-blocks img.aos-animate{opacity:0.5 !important}.sample-blocks img:hover{opacity:1 !important;-webkit-transition:0.7s !important;transition:0.7s !important}.sample-blocks a{position:absolute}.sample-blocks a:nth-child(1){-webkit-animation:wobble 4s infinite;animation:wobble 4s infinite;right:15px;bottom:-20px}.sample-blocks a:nth-child(2){-webkit-animation:wobble 8s infinite;animation:wobble 8s infinite;right:320px;bottom:30px}.sample-blocks a:nth-child(3){-webkit-animation:wobble 5s infinite;animation:wobble 5s infinite;right:0px;bottom:190px}.sample-blocks a:nth-child(4){-webkit-animation:wobble 6s infinite;animation:wobble 6s infinite;right:280px;bottom:180px}.sample-blocks a:nth-child(5){-webkit-animation:wobble 9s infinite;animation:wobble 9s infinite;right:270px;bottom:320px}.sample-blocks a:nth-child(6){-webkit-animation:wobble 7s infinite;animation:wobble 7s infinite;right:20px;bottom:370px}.sample-blocks a:nth-child(7){-webkit-animation:wobble 5s infinite;animation:wobble 5s infinite;right:200px;bottom:470px}.sample-blocks a:nth-child(8){-webkit-animation:wobble 8s infinite;animation:wobble 8s infinite;right:10px;bottom:470px}.sample-blocks a:nth-child(9){-webkit-animation:wobble 9s infinite;animation:wobble 9s infinite;right:0px;bottom:570px}@-webkit-keyframes wobble{0%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}50%{-webkit-transform:rotate(1deg) translate(5px, 5px);transform:rotate(1deg) translate(5px, 5px)}100%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}}@keyframes wobble{0%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}50%{-webkit-transform:rotate(1deg) translate(5px, 5px);transform:rotate(1deg) translate(5px, 5px)}100%{-webkit-transform:rotate(-1deg) translate(-5px, -5px);transform:rotate(-1deg) translate(-5px, -5px)}}@media (max-width: 400px){body>.footer .social a:last-child,body>.footer .nav a:last-child{display:none}}

/*# sourceMappingURL=style.css.map */
: rotate(-1deg) translate(-5px, -5px);
            transform: rotate(-1deg) translate(-5px, -5px); } }

@keyframes wobble {
  0% {
    -webkit-transform: rotate(-1deg) translate(-5px, -5px);
            transform: rotate(-1deg) translate(-5px, -5px); }
  50% {
    -webkit-transform: rotate(1deg) translate(5px, 5px);
            transform: rotate(1deg) translate(5px, 5px); }
  100% {
    -webkit-transform: rotate(-1deg) translate(-5px, -5px);
            transform: rotate(-1deg) translate(-5px, -5px); } }

@media (max-width: 400px) {
  body > .footer .social a:last-child,
  body > .footer .nav a:last-child {
    display: none; } } 

/*# sourceMappingURL=style.css.map */

.navbar-top .nav-navbar{
margin-left:auto;
margin-right:auto;
}
.nav-mega-heading{margin-bottom:5px;font-size:13px}
.btn-other-nav{
font-size:12px;
margin-left:15px;
}
.btn-other-nav + .btn-other-nav{}
.navbar-top.stick .btn-other-nav.btn-outline-light,
.navbar-top:not(.navbar-light) .btn-other-nav.btn-outline-light{
	color: #6878b9; 
    border-color: #6878b9;
}
 
.navbar-top:not(.navbar-light) .btn-other-nav.btn-outline-light:hover,
.navbar-top:not(.navbar-light) .btn-other-nav.btn-outline-light:focus,	
.navbar-top.stick .btn-other-nav.btn-outline-light:hover,
.navbar-top.stick .btn-other-nav.btn-outline-light:focus{
	color: #fff;
     background-color: #6878b9; 
    border-color: #6878b9;
    -webkit-box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
    box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
}
.nav-tabs-outline .nav-link{
	border: 1px solid #867b83;
	color: #867b83;
}
.nav-tabs-outline .nav-link:hover, .nav-tabs-outline .nav-link.active {
    color: #fff;
    background-color: #867b83;
}
.btn-second{
	color: #fff;
    background-color: #5079ad;
    border-color: #5079ad;
}
.btn-second:hover,.btn-second:focus{
	color: #fff;
    background-color: #6e3951;
    border-color: #6e3951;
    -webkit-box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
    box-shadow: 0 1px 10px rgba(108, 121, 174, 0.4);
}

.btn-three{
	color: #fff;
    background-color: #867b83;
    border-color: #867b83;
}
.btn-three:hover,.btn-three:focus{
	color: #fff;
    background-color: #867b83;
    border-color: #867b83;
    -webkit-box-shadow: 0 1px 10px rgba(134, 123, 131, 0.4);
    box-shadow: 0 1px 10px rgba(134, 123, 131, 0.4);
}

.text-second{
	color:#5079ad !important;
}

.btn-dark {
    color: #fff;
    background-color: #34495c;
    border-color: #34495c;
}

.btn-dark:hover,.btn-dark:focus {
    color: #fff;
   background-color:#455361;
    border-color: #455361;
}
.fs-8{font-size:8px !important}
.fs-9{font-size:9px !important}
.fs-10{font-size:10px !important}
.fs-11{font-size:11px !important}
.fs-12{font-size:12px !important}
.fs-13{font-size:13px !important}
.fs-14{font-size:14px !important}
.fs-15{font-size:15px !important}
.fs-16{font-size:16px !important}
.fs-17{font-size:17px !important}
.fs-18{font-size:18px !important}
.fs-19{font-size:19px !important}
.fs-20{font-size:20px !important}
.fs-22{font-size:22px !important}
.fs-24{font-size:24px !important}
.fs-25{font-size:25px !important}
.fs-26{font-size:26px !important}
.fs-28{font-size:28px !important}
.fs-30{font-size:30px !important;line-height:1.2}
.fs-35{font-size:35px !important;line-height:1.2}
.fs-40{font-size:40px !important;line-height:1.2}
.fs-45{font-size:45px !important;line-height:1.2}
.fs-50{font-size:50px !important;line-height:1.2}
.fs-60{font-size:60px !important;line-height:1.2}
.fs-70{font-size:70px !important;line-height:1.2}
.fs-80{font-size:80px !important;line-height:1.2}
.fs-90{font-size:90px !important;line-height:1.2}
.fw-100{font-weight:100 !important}
.fw-200{font-weight:200 !important}
.fw-300{font-weight:300 !important}
.fw-400{font-weight:400 !important}
.fw-500{font-weight:500 !important}
.fw-600{font-weight:600 !important}
.fw-700{font-weight:700 !important}
.fw-800{font-weight:800 !important}
.fw-900{font-weight:900 !important}


.main-content{ 
	padding-top: 59px;  
}
.header-page-top{
    padding-top: 0px;
    padding-bottom: 0px;
}
.header-page-top .header-page-top-inner {
    background-color: #5079ad;
    color: #fff;
    padding: 5px 0px;
}
.header-page-top h1{color: #fff;}	
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}

#site-footer{
   /* background-color: #34495d !important; */
    background-color:#5079ad !important; 
}
#site-footer .nav-link {
    position: relative;
    border: none!important;
    color: #fff!important;
}
#site-footer .nav-link:after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity:0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
}
#site-footer .nav-link:hover::after{
	opacity:0.5;
}

.sidebar_link_box{
	border: 1px solid #eee;
	padding: 0px 0px;
}
.sidebar_link_box a.nav-link{
	border-bottom: 1px solid #eee;
	padding: 5px 15px !important
}
.sidebar_link_box a.nav-link:last-child{
	border-bottom: 0px solid #eee;
}
.theme-product-overlay{
		position:relative;
		display:block; 
		width:100%;
	}
.theme-product-overlay:before{ 
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;  
	opacity:0;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;

}
body
{
    font-family: 'Josefin Sans', sans-serif !important;
}
.theme-product-overlay:after{
	content: "\f0b2";
	font-family: FontAwesome;
	color: #fff;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
	-ms-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	opacity:0;
	font-size:20px;
}

.theme-product-overlay:hover::after,
.theme-product-overlay:hover::before{opacity:1;}
.register_active_step_box{
	list-style-type: none;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 50px;
}	
.register_active_step_box > li{
	width: 50%;
	float: left;
}
.register_active_step_box > li  > a{
	display: block;
	border: 1px solid #ddd;
	margin: 0px 10px;
	padding: 10px 15px;
	border-radius: 50px;
	font-size: 16px;
	position:relative;
}
.register_active_step_box > li  > a.current_step_active{
	background-color: #50a1ff;
	color: #fff !important;
	border-color: #50a1ff;
}
.register_active_step_box > li  > a span{
	width: 25px;
	line-height: 22px;
	height: 25px;
	float: left;
	background-color: #fff;				
	border-radius: 50%;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border: 1px solid #ddd;
	font-size:14px;
}
.register_active_step_box > li  > a.current_step_active span{
	color: #50a1ff;
	border: 1px solid #fff;
}

@media(max-width:767px){
	.hidden-xs{display:none}

}
.custom_lead_p{
	font-size: 1.17188rem !important;
    color: #000;
    line-height: 1.85;
}
.text_black{
	color: #000; 
}
.btn_theme_dark{background-color:#6e3a51;color:#fff }
.btn_theme_light{background-color:#5079ad;color:#fff }
.btn_theme_sky{background-color:#70c4ad;color:#fff }
.btn_theme_orange{background-color:#6e3a51;color:#fff }
.btn_theme_white{background-color:#6e3951;color: #ffffff; }

.btn_theme_dark:hover{background-color:#7c415b;color:#fff }
.btn_theme_light:hover{background-color:#476c9c;color:#fff }
.btn_theme_sky:hover{background-color:#70c4ad;color:#fff }
.btn_theme_orange:hover{background-color:#6e3a51;color:#fff }
.btn_theme_white:hover{background-color: #6e3a5173;color: #ffffff;}
.btn_round_border{border: 1px solid #fff;}
@media (min-width:768px){ 
	.custom_margin_textbanner{
		margin-left: 26%
	}
}
.nav-link:hover {
    color: #5079ad !important;
    border: 1px solid #5079ad !important;
    border-bottom: 3px solid #5079ad !important;
}
.nav-link {
    color: #2a2a2a !important;
    border: 1px solid #fff !important;
    border-bottom: 3px solid #fff !important;
}

.badge-success {
    color: #fff;
    background-color: #70c4ad!important;
}
.badge-primary {
    color: #fff;
    background-color: #f7a956;
}
.btn-primary {
    color: #fff;
    background-color: #5079ad !important;
    border-color:  #5079ad !important;
}
.btn-success {
    color: #fff;
    background-color: #5079ad !important;
    border-color:  #5079ad !important;
}

.h-fullscreen, .h-100vh {
   /* height: 120vh !important;*/
}

.pb-8, .py-8 {
    padding-bottom: 4rem !important;
}

.pt-8, .py-8 {
    padding-top: 2rem !important;
}
.navbar {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-transition: background-color .3s ease-out, -webkit-transform .3s ease-out;
    transition: background-color .3s ease-out, -webkit-transform .3s ease-out;
    transition: transform .3s ease-out, background-color .3s ease-out;
    transition: transform .3s ease-out, background-color .3s ease-out, -webkit-transform .3s ease-out;
    padding-top: 0;
    padding-bottom: 0;
    height: 60px!important;
    background-color: #fff;
}
.btn_theme_dark_blue{
	background-color: #5079ad !important;
	color:#fff;
}
.btn_theme_dark_blue:hover{
	background-color: #7594ce !important;
	color:#fff;
} 
  .custom-left-title{
    margin-top: 20%;
    font-size: 46px;

  }
  .pb-8, .py-8 {
    padding-bottom: 2rem !important;
}
.font600{
  font-weight: 600;
}
.pricing-1 .plan-name {
    padding: 16px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #f1f2f3;
    background-color: #fcfdfe;

}
.pricing-1 {
    background-color: #fff;
    border: 1px solid #f1f2f3;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    min-height: 728px;
}
.pricing-1 .price {
    font-size: 50px;
    font-weight: 600;
}
.font46{
  font-size: 46px;
}
.custom-min-height{
  min-height: 380px;
}
.btn-round2{
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
}
@media (max-width:767px){
  .h-fullscreen, .h-100vh {
    height: 64vh !important;
}
.font46 {
    font-size: 36px;
    line-height: 42px;
}
.custom_lead_p {
    font-size: 1.17188rem !important;
    line-height: 1.65;
}
.navbar-light .navbar-toggler, .navbar-stick-light.stick .navbar-toggler {
    color: black!important;
    z-index: 9999;
}
.navbar-expand-lg .nav-navbar:not(.nav-inline) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: -12px;
    margin-top: 20px;
}
.navbar-expand-lg .nav-navbar:not(.nav-inline)>.nav-item>.nav-link, .navbar-expand-lg .nav-navbar:not(.nav-inline)>.nav-link {
    min-height: inherit;
    /* line-height: inherit; */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.95rem;
    text-transform: none;
    line-height: 33px;
    font-size: 19px;
}
.navbar-open .navbar .navbar-toggler {
    color: #000!important;
    z-index: 9999;
}
.header.h-fullscreen {
    padding-top: 180px!important;
}
}


/* new landing css */

 .full-landing-section{
    float: left;
    width: 100%;
  }
.full-landing-section-pb60{padding-bottom: 60px;}
.full-landing-section-pt60{padding-top: 60px;}
.full-landing-section .full-landing-section-header{
    padding: 70px 0px;
    text-align: center;
    font-size: 40px; 
    line-height: 40px;
}
.full-landing-section .full-landing-section-header .styletext{
  font-weight: bold;
}

.text-color1{
  color: #161B21;
}
.text-color2{
  color: #9FA6AE;
}
.text-color3{
  color: #5079ad;
}
.text-color4{
  color: #898A8D;
}
.text-color5{
  color: #ffffff;
}
.text-italic{
  font-style: italic;
}
.fw300{font-weight: 300}
.fw400{font-weight: 400}
.fw500{font-weight: 500}
.fw600{font-weight: 600}
.fw700{font-weight: 700}
.fw800{font-weight: 800}
.fw900{font-weight: 900}
.fw1000{font-weight: 1000}

.bg_gray1{
  background-color: #F8F9FA;
}
.bg_lightblue{
  background-color: #F3F8FF;
}

.no-pad{
  padding: 0px !important;
}
.choose-plan-content-row{
  min-height: 500px;
  margin-top: 90px;
  position: relative;
  margin-bottom: 90px;
}

.choose-plan-content-row:before{
  content: '';
  background-color: #5079ad;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 70%;
}
.choose-plan-content-row .plans-enquiry-box{
  background-color: #FFFFFF;
  padding: 15px;
  margin-top: -85px;
  text-align: center
}
.choose-plan-content-row .plans-enquiry-box .plans-enquiry-box-heading{
  font-size: 18px;
  font-weight: 500;
}
.choose-plan-content-row .plans-enquiry-box .plans-enquiry-box-text{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 15px 0px;
}
.btn_theme_bluelight {
  background-color: #5079ad;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 7px 30px;
  border: 1px solid #5079ad;
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
}
.btn_theme_bluelight:hover,.btn_theme_bluelight:focus,.btn_theme_bluelight:active{
   background-color: #799cde;
   border-color: #799cde;
   text-decoration: none;
   color: #fff;
}
.plans-box-col-row{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.plans-box-col-row .plans-box-adsbox{ 
  margin-top: 25px;
  width: 20%;
  position: relative;
}
.plans-box-col-row .plans-box-adsbox img{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  max-width: 100%;
}
.plans-box-col-row .plans-box-col{
  background-color: #fff;
  padding: 30px;
  margin-top: 20px;
  width: 40%;
  text-align: center;
  position: relative;
}
.plans-box-col-row .plans-box-col-heading{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
.plans-box-col-row .plans-box-col-price{
  color: #5079ad;
  font-weight: bold;
  font-size: 45px;
  line-height: 40px;
  margin: 25px 0px 5px;
}
.plans-box-col-row .plans-box-col-tagling{
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 20px;
}
.plans-box-col-row .plans-box-col-price sup{
  font-weight: 500;
    font-size: 60%;
}
.plans-box-col-row .plans-box-col-heading-name{
  color: #5079ad;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 16px;
}
.plans-box-col-row .plans-box-col-list{
  list-style: none;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
}

.plans-box-col-row .plans-box-col-action-bottom{
    position: absolute;
    bottom: -20px;
    left: 0px;
    right: 0px;
}
.headingtype2{
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 0px;
}

.feature-box-row{
  list-style-type: none;
  padding: 0px;
  margin: 0px -15px;
}
.feature-box-row .feature-box-row-col{  
  width: 25%;
  display: inline-block;
  padding: 15px;
  float: left;
}
.feature-box-row .feature-box-row-col .feature-box-row-col-inner{
  display: block;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}
.feature-box-row .feature-box-row-col .feature-box-row-col-inner .feature-box-row-col-icon{
  height: 70px;
  position: relative;
  margin-bottom: 20px;
}
.feature-box-row .feature-box-row-col .feature-box-row-col-inner .feature-box-row-col-icon img{
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  max-height: 100%;
}
.feature-box-row .feature-box-row-col .feature-box-row-col-inner .feature-box-row-col-text{
  font-weight: 600;
  color: #5079ad;
  white-space: nowrap;
} 
 .feature-box-row .feature-box-row-col .feature-box-row-col-inner:hover{
  box-shadow: #5079ad 3px 6px 12px;
  -webkit-box-shadow: #5079ad 4px 8px 15px;
 }
 .full-img{width: 100%;}

.explore_who_we_are_row{
  width: 100%;
  float: left;
  position: relative;

}
.explore_who_we_are_row:after {
    content: '';
    position: absolute;
    background-image: url('../images/icon/Path%20326@2x.png');
    height: 45px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 30px;
}
.explore_who_we_are_row .explore_who_we_are_row_col{
  float: left;
  width: 33.33%;
  position: relative;
}
.explore_who_we_are_row .explore_who_we_are_row_col .explore_who_we_are_row_col_inner{
  text-align: center;
  padding: 0px 20px 20px;
  max-width: 290px;
  margin:0px auto;
}
.explore_who_we_are_row .explore_who_we_are_row_col .explore_who_we_are_row_col_image {
      margin-bottom: 20px;
}
.explore_who_we_are_row .explore_who_we_are_row_col .explore_who_we_are_row_col_image img{
    width: 100px;
    background-color: #f3f8ff;
    position: relative;
    z-index: 1;
    border-radius: 50px 50px 50px 0px;
    -webkit-border-radius: 50px 50px 50px 0px;
    -ms-border-radius: 50px 50px 50px 0px;
    -o-border-radius: 50px 50px 50px 0px;
    -moz-border-radius: 50px 50px 50px 0px;
}
.explore_who_we_are_row .explore_who_we_are_row_col .explore_who_we_are_row_col_heading{
  font-weight: bold;
  color: #161B21;
}
.explore_who_we_are_row .explore_who_we_are_row_col .explore_who_we_are_row_col_text{
  line-height: 22px;
   color: #414348;
}
.home-banner-heading {
  font-weight: bold;
  font-size: 40px;
  text-transform: capitalize;
} 
.home-main-banner .btn_theme_bluelight{
  font-size:15px;
}

@media(max-width: 767px){
  .explore_who_we_are_row .explore_who_we_are_row_col{
    width: 100%;
  }
}


 @media(max-width: 1092px){
   .feature-box-row .feature-box-row-col{
    width: 33.33%;
   }
 }


@media(max-width: 767px){
    .full-landing-section .full-landing-section-header{
       font-size: 24px;
       line-height: 24px;
       padding:50px 0px;
    }
    .plans-box-col-row .plans-box-col{
        width: 100%;
    }
    .choose-plan-content-row:before{
        display: none;
    }
    .plans-box-col-row .plans-box-col-action-bottom{
        position: relative;
    }
    .choose-plan-content-row{
        margin-bottom: 0px;
    }

 .feature-box-row .feature-box-row-col{
    width: 50%;
  }
 .section-header{max-width: 100%}
 .headingtype2 {
      font-size: 24px; 
     line-height: 40px;
 }
 .home-banner-heading{
  font-size: 20px;
  margin-top: 0px;
 }
.home-main-banner .btn_theme_bluelight{
  font-size: 12px;
 }
}

/* ----------------------New style landing page ----------------------------------- */

.Houdin_take_your_business_header{
    padding: 70px 0 20px 0px !important;
    text-align: center;
    font-size: 40px; 
    line-height: 40px;
}

.Houdin_take_your_business{
    margin: 26px 0;
}

.Houdin_take_your_business_text{
  font-family: 'Roboto',sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #161b21;
}


.Houdin_take_your_business_text-2{
  font-family: 'Roboto',sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #ffffff;
}

.Houdin_four_process_text{
  font-family: 'Roboto',sans-serif;
  font-size: 1.5em;
  padding: 20px;
  margin-top: 45px;
  font-weight: 400;
  color: #161b21;
}

.Houdin_four_process_text_sub{
  font-size: 1.3em;
    font-family: 'Roboto',sans-serif;
    padding: 60px;
    font-weight: 400;
    color: #1f1f1f;
}

.bg_alternative{
  background-color:#ececec;
  overflow: hidden;
}

.Houdin_omni_direction_text{
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
  padding: 20px 100px;
  font-weight: 400;
  color: #161b21;
}


.mb-40{
  margin-bottom: 40px;
}

.houdin_icon_omni_direction{
    margin-top: 18px;
}

.houdin_icon_omni_direction img{
  width: 20%;
}

.houdin_icon_omni_direction p{
  font-size: 1.5em;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  color: #1f1f1f;
  margin: 20px;
}

.Houdin_omni_direction_text_section{
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #161b21;
}

.highlight{
  font-size: 28px;
  font-family: sans-serif;
  color: #5079ad;
  font-weight: 500;
}

.highlight-2{
  font-size: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-weight: 500;
}

.vertsatile--point{

  background-image:url('../images/POS.jpg');
  background-size: cover;
  height: 700px;
  background-position: center;
  position: relative;

}

.versatile--point-content{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.btn-primary-1 {
  color: #5079ad;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}



