@media screen and (max-width: 1199px) {
    .category-title {
        padding: 17.3px 15px;
        font-size: 15px;
    }
    .testi-img {
        width: 100%;
    }
    .shop-products .price-info .pull-right {
        float: left;
        margin-top: 15px !important;
    }

    /* Start shop page list left sidebar */
    .shop-products .grid-list .item .price-info p {
        display: none;
    }
    .shop-products .grid-list .add-product {
        margin-top: 22.8px;
    }

    .product-size,
    .product-color {
        width: 50%;
        float: left;
        margin-bottom: 20px;
    }
    .product-qty {
        clear: both;
    }
    .review-list span.bar {
        width: 67%;
    }
    .contactus-info h6 {
        font-size: 15px;
    }
    .contactus-single-info {
        min-height: 185px;
        padding: 25px;
    }
    .furniture-categories-info h2 {
        font-size: 18px;
    }
    .furniture-categories-info h3 {
        font-size: 16px;
    }
    .furniture-categories-info {
        bottom: -41%;
    }
}




@media screen and (max-width: 991px) {
    #logo img {
        margin-bottom: 30px;
    }
    .category-title {
        font-size: 20px;
    }
    .menu-coniainer {
        display: none;
    }
    .responsive-menu-wrap {
        display: block;
    }

    .product-section-margin {
        margin-top: 30px;
    }
    .testi-img {
        width: 30%;
    }
    .link-info li::before {
        top: 6.3px;
    }
    .margin-bottom-30 {
        margin-bottom: 30px;
    }
    .margin-top-30 {
        margin-top: 30px;
    }

    /* shop page */
    .page-location {
        text-align: center;
    }
    .page-location .breadcrumb {
        justify-content: center;
    }
    .shop-products .grid-list .add-product {
        margin-top: 21.9px;
    }
    .product-qty,
    .product-add {
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }
    .social-shere {
        clear: both;
    }
    .product-size,
    .product-color {
        margin-bottom: 0;
    }
    .social-shere,
    .product-qty,
    .product-color,
    .product-size,
    .product-add {
        margin-top: 0;
    }
    .review-list {
        border-right: none;
    }
    .review-list span.bar {
        display: inline-block;
        height: 10px;
        background: #eeeeee;
        width: 91%;
        margin-left: 0;
    }
    .submit-reviews {
        margin-top: 20px;
    }
    .biling-type {
        margin-top: 30px;
    }

    /* Cart page  */
    .responsive-view {
        display: block;
    }
    .desktop-view {
        display: none;
    }
    .responsive-view {
        border: 1px solid #DFB859;
    }
    .responsive-view table,
    .responsive-view table tr td.cart-img img {
        width: 100%;
    }
    .responsive-view table tr td {
        border: none;
        padding: 10px 15px;
    }
    .responsive-view table tr {
        border-bottom: 1px solid #DFB859;
    }
    .responsive-view table tr:last-child,
    .responsive-view table tr td table tr {
        border-bottom: none;
    }
    .responsive-view table tr {
        width: 50%;
        display: inline-block;
        border-right: 1px solid #DFB859;
    }
    .responsive-view table tr:nth-child(even) {
        border-right: none;
    }
    .responsive-view table tr td table tr,
    .responsive-view table tr td table tr td {
        width: 100%;
        display: block;
    }
    .responsive-view table tr td table tr {
        border-right: none;
    }
    .responsive-view table tr td table tr td {
        text-align: center;
    }
    .pagination-bar {
        margin-top: 20px;
    }
    .search-bar {
        margin-top: 60px;
    }
    .add-banner img {
        width: 100%;
    }

    .contactus-single-info {
        margin-bottom: 30px;
    }
    .contactus-info {
        padding: 100px 0 70px;
    }
    .contact-us-2 #googleMap {
        width: 100%;
        height: 400px;
    }
    .electronics-subscribe-layer {
        text-align: center;
    }
    .categories-menu.electronics-categories-menu .catrgory-menu .navbar {
        margin-right: 15px;
    }
    .furniture-title::before,
    .furniture-title::after {
        width: 28%;
    }
    .furniture-categories-info {
        bottom: -36%;
    }
    .furniture-gallery ul li {
        width: 25%;
        margin-bottom: -13px;
    }
}



@media screen and (max-width: 767px) {

    .top-welcome {
        text-align: center;
        display: block;
    }
    .news-img img {
        width: 100%;
    }
    .shop-products .price-info .pull-right {
        float: right;
        margin-top: 0 !important;
    }

    /* Start shop page leftside bar */
    .filter-list {
        height: initial;
    }
    .shop-products .grid-list .item .single-item .discount-tag {
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .shop-products .grid-list .item .price-info {
        padding: 15px !important;
    }
    .review-list span.bar {
        width: 88%;
    }

    /* Start blog detail */
    .contactus-form .btn-primary,
    .login-area .btn-primary,
    .news-reply .btn-primary {
        width: 100%;
    }
    .product-tabs .nav {
        display: block;
        margin-bottom: 5px;
    }
    .electronics-ad-banner:first-child {
        margin-bottom: 15px;
    }
    .electronics-ad-banner:last-child {
        margin-top: 15px;
    }
    .furniture-single-news img,
    .furniture-single-product img {
        width: 100%;
    }
    .furniture-categories-info {
        bottom: -30%;
    }
    .furniture-title h3 {
        font-size: 22px;
    }
    .furniture-title::before,
    .furniture-title::after {
        width: 25%;
    }

    .furniture-banner-text {
        text-align: center;
        margin-top: 30px;
    }
}




@media screen and (max-width: 575px) {
    .slider-info p {
        padding: 0 30px;
        font-size: 16px;
    }
    .brand-logo img {
        margin: 0 auto;
        display: block;
    }
    .margin-bottom-xs-30 {
        margin-bottom: 30px;
    }
    .padding-bottom-xs-30 {
        padding-bottom: 30px;
    }
    .banner-item.banner-padding-top-10 {
        padding-top: 0;
    }
    .swiper-slide {
        height: 500px;
    }
    .testimonial-item {
        padding: 30px 40px;
        display: block !important;
        text-align: center;
    }
    .testi-img {
        width: 100%;
    }
    .testi-img img {
        display: block;
        margin: 0 auto 15px;
    }

    .responsive-view table tr {
        width: 100%;
        display: block;
        border-right: none !important;
    }
    .cart-wrapper {
        top: 220%;
    }
}


@media screen and (max-width: 425px) {

    .slicknav_nav {
        left: -110px;
        width: 240px;
    }
    .review-list span.bar {
        width: 83%;
    }
    .slider-info h2 {
        font-size: 35px;
    }

    .product-qty,
    .product-add {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }
    .product-add {
        margin-bottom: 20px;
    }
    .cart-btn-area .porduct-place-order-btn {
        min-width: 100%;
        margin: 30px 0 0;
    }
    .cart-wrapper {
        right: 50%;
        transform: translateX(50%);
    }
    .subscribe-form .btn-primary {
        min-width: 130px;
    }
    .subscribe-form .form-control {
        padding-right: 130px;
    }
    .electronics-subscribe-layer h2 {
        font-size: 34px;
    }
    .furniture-title h3 {
        font-size: 17px;
    }
}



@media screen and (max-width: 375px) {

    .slicknav_nav {
        left: -126px;
    }

    /* Start filter */
    .Sort-type li {
        font-size: 13px;
    }
    .review-list span.bar {
        width: 80%;
    }


    .furniture-title::before,
    .furniture-title::after {
        display: none;
    }
}




@media screen and (max-width: 320px) {
    .slicknav_nav {
        left: -145px;
    }
    .top-user ul>li {
        padding-left: 20px;
    }
    .slider-info h2 {
        font-size: 35px;
    }

    /* Statr filter */
    li.sort-title {
        display: none;
    }
    .nav.nav-tabs {
        display: initial;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-color: #dee2e6;
    }
    div#myTabContent {
        padding: 30px;
        border: 1px solid #eee;
        border-top: 1px solid #eee;
        margin-top: 10px;
    }
    .review-list span.bar {
        width: 75%;
    }
    .electronics-subscribe-layer h2 {
        font-size: 26px;
    }
    .add-product ul li span {
        display: none;
    }
    .shop-products .grid-list .item .price-info .add-product a {
        font-size: 20px;
        min-width: 120px;
        height: 45px;
        line-height: 45px;
    }
}